*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}

body{
    height:100%;
    width: 100%;
}

img{
    width: 300px;
    height: 300px;
    scale: 1;

}
 /* 
button{
    padding: 10px 40px;
    position: absolute;
    left: 50%;
    top: 10%;
    /* transform: translate(50%,0); */
    /* background-color: red;
    color: white;
    border-radius: 10px;
  border: none;
}  */

body{
    display: flex;
    align-items: center;
 justify-content: space-evenly;
}
#up{
    padding: 15px 40px;
    background-color: black;
    color: white;
}
#down{
    color: white;
    padding: 15px 40px;
    background-color: black;
}
button{
    border-radius: 10px;
    padding: 20px;
}