*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html,body{
    height: 100%;
    width: 100%;
}

#box{
    width: 400px;
    height: 400px;
    /* background: conic-gradient(pink,yellow,green,red,pink); */
background-color: red;
    border-radius: 50%;
}

#list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}