*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html,body{
    height: 100%;
    width: 100%;
}
/* #bg{
    height: 100%;
    width: 100%;
    background-image: url(https://media.licdn.com/dms/image/D5612AQF37ndJjNv-2A/article-cover_image-shrink_720_1280/0/1683280940188?e=2147483647&v=beta&t=waEXcZVe2agzOyT6_dNK6p9aRCXvhh96AyUMO5HaWA0);
    background-size: cover;
    background-position: center;
}
h1{
    color: rgb(224, 23, 23);
    font-size: 100px;
    text-align: center;
    font-family: "Autour One";
    font-weight: 400;
} 
 */
#parant
   {
    background-color: red;
    width: 100%;
    white-space: nowrap;
overflow-x: auto;

}
/* position: absolute;
animation-name: anime;
animation-duration: 2s;
animation-delay: 1s;

animation-iteration-count: infinite;  */
/* animation-fill-mode: backwards;
 */

 #parant::-webkit-scrollbar{
    /* display: none; */

} 
#parant::-webkit-scrollbar{
    background-color: rgb(25, 34, 6);
    color: white;
}

h1{
    font-size: 70px;
    font-weight: 900;
    -webkit-text-stroke: 3px rgb(22, 22, 156);
    color: transparent;
    display: inline-block;
    margin-right: 23px;
    text-transform: uppercase;
  
/* position: absolute; */
animation-name: anime;
animation-duration: 5s;
animation-delay: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
  
}
/* clipPathcss */
/* marboro car */
/* remove.bg */
@keyframes anime {
    from{
       transform: translateX(0);    
        
    }
    to{
        
        transform: translatex(calc(-100% - 23px));    
    }
}

h1::after{
    /* content:" haisa ho "; */
}
h1::before{
    content:" haisa ho ";
}