*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: gilroy;
}
/* @keyframes moveimg {
    0%{
        transform:  rotateY(0deg);
    }
    50%{
        transform:rotateY(90deg);
        
    } */
  
/* } */

#one{
   perspective: 800px;
   transition: transform 4s;
   position: absolute;
   right: 30%;
   transform: rotateY(0deg);

}
#one:hover{
    transform: rotateY(180deg);
    right: 50%;
}

